*{
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
}

.perfil{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cerrarsesion{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.agregarProd{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.detalleProd{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h4{
  color: red;
}
